<main class="px-6 py-10 flex flex-col gap-4 h-screen">

  <article class="py-4 flex-1">
    <%= form_for @note do |field| %>

    <div>
      <span class="text-xs text-gray-400 mb-1 block">Edit Title</span>
      <h2 class=""> <%= field.text_field :title, :class => "p-2 border-2 border-opacity-50 border-solid border-gray-300 font-sans text-5xl font-semibold max-w-full w-full" %></h2>
    </div>
    <div class="py-8">
      <span class="text-xs text-gray-400 mb-1 block">Edit Body</span>
      <%= field.text_area :body, :class => "p-2 border-2 border-opacity-50 border-solid border-gray-300 font-sans text-xl max-w-full w-full" %>
    </div>

    <hr>

    <%
      c_date_time = @note.created_at.to_s.split(' ')
      c_date = c_date_time.first
      c_time = c_date_time.second

      u_date_time = @note.updated_at.to_s.split(' ')
      u_date = u_date_time.first
      u_time = u_date_time.second
    %>

    <span class="font-mono text-xs text-gray-500 text-opacity-50">Created: <%= c_date %> at <%= c_time %> </span>
    <span class="font-mono text-xs text-gray-500 text-opacity-50">Last Update: <%= u_date %> at <%= u_time %> </span>
    <div class="right-2 top-2 flex gap-x-2 mt-4">
      <%= field.submit :class => "bg-blue-500 hover:bg-blue-dark text-xs text-white font-bold py-1 px-3 rounded" %>
      <%= link_to "Delete", note_path(@note), method: :delete, data: { confirm: 'Are you sure? '}, :class => "bg-red-500 hover:bg-red-dark text-xs text-white font-bold py-1 px-3 rounded" %>
    </div>

    <% end %>
  </article>
</main>
