<header class="bg-gray-500 p-4 text-white">
   <h1 class="font-sans text-3xl font-bold">Dashboard</h1>
</header>
<main class="px-4 py-8 grid gap-4">
  <% @notes.each do |note| %>
    <article class="px-2 py-4 border-solid border-2 border-opacity-10 border-gray-500 rounded">
      <div class="flex items-center justify-between gap-x-4">
        <h2 class="font-sans text-2xl font-semibold"> <%= link_to "#{note.title}", note_path(note) %></h2>
        <div class="right-2 top-2 flex gap-x-2">
          <%= link_to "Edit", note_edit_path(note), :class => "bg-blue-500 hover:bg-blue-dark text-xs text-white font-bold py-1 px-3 rounded" %>
          <button class="bg-red-500 hover:bg-red-dark text-xs text-white font-bold py-1 px-3 rounded">delete</button>
        </div>
      </div>
      <div class="py-4">
        <p class="font-sans"> <%= note.body %></p>
      </div>
     <hr>
     <%
       date_time = note.created_at.to_s.split(' ')
       date = date_time.first
       time = date_time.second
     %>
     <span class="font-mono text-xs text-gray-500 text-opacity-50">Created: <%= date %> at <%= time %> </span>

   </article>
  <% end %>
</main>
