<%= render 'header', header_title: 'New Note' %>
<main class="px-6 py-10 flex flex-col gap-4 items-start h-screen">
  <article class="py-4 flex-1">
    <%= form_for @note do |field| %>

      <div>
        <span class="text-xs text-gray-400 mb-1 block">Add Title</span>
        <h2 class=""> <%= field.text_field :title, :class => "p-2 border-2 border-opacity-50 border-solid border-gray-300 font-sans text-5xl font-semibold max-w-full w-full" %></h2>
      </div>
      <div class="py-8">
        <span class="text-xs text-gray-400 mb-1 block">Add Body</span>
        <%= field.text_area :body, :class => "p-2 border-2 border-opacity-50 border-solid border-gray-300 font-sans text-xl max-w-full w-full" %>
      </div>
      <hr>

      <div class="right-2 top-2 flex gap-x-2 mt-4">
        <%= field.submit :class => "bg-blue-500 hover:bg-blue-dark text-sm text-white font-bold py-2 px-4 rounded cursor-pointer" %>
      </div>

    <% end %>
  </article>
</main>
