<%= render 'header', header_title: 'Create new note' %>
<main class="p-6">
	<article>
		<%= form_for @note, :html => { :class => "flex flex-col gap-y-12", :autocomplete => "off" } do |field| %>
			
			<section>
				<span class="text-xs text-gray-400 mb-2 block">Add Title</span>
				<%= field.text_field :title, :class => "p-2 border-b-2 focus:border-gray-500 focus:outline-none border-opacity-50 border-solid
        border-gray-300 font-sans text-5xl font-semibold max-w-full w-full" %>
			
			</section>
			
			<section>
				<span class="text-xs text-gray-400 mb-2 block">Add Body</span>
				<%= field.text_area :body, :rows => '10', :class => "p-2 border-2 focus:border-gray-500 focus:outline-none border-opacity-50 border-solid border-gray-300 font-sans text-xl max-w-full w-full" %>
			</section>
			
			<section>
				<%= field.submit :value => "Create", :class => "bg-blue-500 hover:bg-blue-dark text-sm text-white font-bold py-2 px-4 rounded cursor-pointer" %>
			</section>
		<% end %>
	</article>
</main>
