<main class="px-6 py-10 flex flex-col gap-4 h-screen">
    <article class="py-4 flex-1">
      <div>
        <h2 class="font-sans text-5xl font-semibold"> <%= @note.title %></h2>
      </div>
      <div class="py-8">
        <p class="font-sans text-xl"> <%= @note.body %></p>
      </div>
    </article>

    <hr>

    <%
      c_date_time = @note.created_at.to_s.split(' ')
      c_date = c_date_time.first
      c_time = c_date_time.second

      u_date_time = @note.updated_at.to_s.split(' ')
      u_date = u_date_time.first
      u_time = u_date_time.second
    %>

    <span class="font-mono text-xs text-gray-500 text-opacity-50">Created: <%= c_date %> at <%= c_time %> </span>
    <span class="font-mono text-xs text-gray-500 text-opacity-50">Last Update: <%= u_date %> at <%= u_time %> </span>
    <div class="right-2 top-2 flex gap-x-2 mt-4">
      <%= link_to "Edit", edit_note_path(@note), :class => "bg-blue-500 hover:bg-blue-dark text-xs text-white font-bold py-1 px-3 rounded" %>
      <button class="bg-red-500 hover:bg-red-dark text-xs text-white font-bold py-1 px-3 rounded">delete</button>
    </div>
</main>
